@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

script {
  display: none !important;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

[popover] {
  background-color: transparent;
}

.loading-indicator-using-opacity {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request.loading-indicator-using-opacity {
  opacity: 1;
}

.loading-indicator-using-display {
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request.loading-indicator-using-display {
  display: inline;
  opacity: 1;
}

.fade-out-1000 {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
