<HeadContent>
    <title>Examples: The Obligatory Counter</title>
</HeadContent>

<div class="flex justify-center">
    <article class="prose">
        <div class="flex justify-center">
            <h2>The Obligatory Counter</h2>
        </div>
        <div class="not-prose">
            <Counter />
        </div>
    </article>
</div>
