<a id="@(Id)"
    href="@(NavItemRoute)" 
    class="@(IsCurrentRoute(true) ? "font-semibold" : "")"
    aria-current="@(IsCurrentRoute(false) ? "page" : false)">
    @ChildContent
</a>

@code {
    [Inject] public IHttpContextAccessor? HttpContextAccessor { get; set; }
    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string NavItemRoute { get; set; } = null!;
    [Parameter] public bool MatchPartial { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    protected override void OnParametersSet() {
        if (string.IsNullOrWhiteSpace(Id)) {
            Id = Utilities.GenerateElementId();
        }
    }

    private bool IsCurrentRoute(bool matchPartialRoute) {
        if (matchPartialRoute) {
            return MatchPartial
            ? HttpContextAccessor!.HttpContext!.GetCurrentRoute().StartsWith(NavItemRoute)
            : NavItemRoute == HttpContextAccessor!.HttpContext!.GetCurrentRoute();
        }
        return NavItemRoute == HttpContextAccessor!.HttpContext!.GetCurrentRoute();
    }
}