<HeadContent>
    <title>Examples: Form Submission and Validation</title>
</HeadContent>

<div id="form-page">
    <Toast Id="form-toast" />
    <div class="flex justify-center">
        <article class="prose">
            <div class="flex justify-center">
                <h2>Form Submission and Validation</h2>
            </div>
        </article>
    </div>
    <div class="flex justify-center">
        <Form />
    </div>
</div>
