<HeadContent>
    <title>Examples: Form Submission and Validation</title>
</HeadContent>

<Toast Id="form-toast" />

<div id="form-page" class="flex justify-center">
    <article class="prose">
        <div class="flex justify-center">
            <h2>Form Submission and Validation</h2>
        </div>
        <div class="not-prose">
             <Form />
        </div>
    </article>
</div>
